.container_newVideo_form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--background-shadow-edit-form);
  backdrop-filter: blur(8px);
  z-index: 10;
  width: 100%;
  flex-direction: column;
  color: var(--text-primary-color);
}

.newVideo_form {
  background-color: var(--edit-form-background);
  border-radius: 10px;
  border: 3px solid var(--edit-form-border);
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding-top: 0.2em;
  padding-bottom: 2em;
  padding-left: 5em;
  padding-right: 5em;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  color: var(--text-secondary-color);
}

.newVideo_form_input {
  height: 1em;
  width: 250px;
  border: 2px solid var(--edit-form-input-border);
  border-radius: 8px;
  padding: 0.6em;
  background-color: transparent;
  color: var(--text-secondary-color);
}

.form_btn_guardar {
  border-radius: 8px;
  border: 2px solid var(--edit-form-input-border);
  color: var(--edit-form-input-border);
  padding: 0.5em;
  background: var(--background-color);
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.form_btn_limpiar {
  border-radius: 8px;
  border: 2px solid var(--text-primary-color);
  color: var(--text-primary-color);
  background: transparent;
  padding: 0.5em;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.newVideo_buttons_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn_cross {
  position: absolute;
  top: 0;
  right: 0;
  top: -10px;
  right: -10px;
  cursor: pointer;
  background-color: var(--background-color);
}

.newVideo_form_select {
  border: 2px solid var(--edit-form-input-border);
  border-radius: 8px;
  padding: 1em;
  height: auto;
  width: 100%;
  background-color: var(--edit-form-background);
  color: var(--text-secondary-color);
}
